<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312861198444-85qg1q108j197b7d47v79s3uul1ea0ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312861198444-85qg1q108j197b7d47v79s3uul1ea0ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDgOpZ9LwT6Qs1vQBscoq6K9F00jt-vsy4</string>
	<key>GCM_SENDER_ID</key>
	<string>312861198444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MinhTienDao-Lab2-NativeModules</string>
	<key>PROJECT_ID</key>
	<string>info6132-dfdd6</string>
	<key>STORAGE_BUCKET</key>
	<string>info6132-dfdd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312861198444:ios:4c8f9fbdcc5493e2ebb049</string>
</dict>
</plist>